<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ijiangtao.tech.alogging.alogger.dao.user.UserMapper">

	<!-- 添加一个用户 -->
	<insert id="save" useGeneratedKeys="true" keyProperty="id"
		parameterType="net.ijiangtao.tech.alogging.alogger.model.user.User">
		INSERT INTO
		tb_u_user(user_name,sex,age)
		VALUES
		(#{userName},#{sex},#{age})
	</insert>

	<!-- 删除用户 -->
	<delete id="removeByKey" parameterType="long">
		DELETE FROM tb_u_user
		WHERE id=#{id}
	</delete>

	<!-- 更新user信息 -->
	<update id="modify"
		parameterType="net.ijiangtao.tech.alogging.alogger.model.user.User">
		UPDATE tb_u_user SET
		user_name=#{userName},sex=#{sex},age=#{age}
		WHERE id=#{id}
	</update>

	<select id="findUsersByKeys" resultMap="BaseResultMap"
		parameterType="long">
		select
		<include refid="Base_Column_List" />
		from tb_u_user

		where 1=1

		<if test="ids != null and ids.size>0">
			and id in (-1
			<foreach collection="ids" item="id">
				,#{id}
			</foreach>
			)
		</if>

	</select>

	<!-- 查询所有的user -->
	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_u_user
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="long">
		select
		<include refid="Base_Column_List" />
		from tb_u_user
		where id = #{id}
	</select>

	<select id="findUsersByKeyWords" resultMap="BaseResultMap"
		parameterType="String">
		select
		<include refid="Base_Column_List" />
		from tb_u_user
		where id like #{keyWords}
		or user_name like #{keyWords}
		or sex like #{keyWords}
		or age like #{keyWords}
	</select>

	<resultMap id="BaseResultMap"
		type="net.ijiangtao.tech.alogging.alogger.model.user.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_name" property="userName"
			jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		id,user_name,sex,age
	</sql>

</mapper>